<section class="feedback-container">
    <h3 class="feedback">Hoe eenvoudig kon je je huis online plaatsen?</h3>

    <div class="feedback-buttons">
        <app-smiley-button feeling="neutral" [selectedFeeling]="selectedFeeling" (selected)="openFeedback($event)"></app-smiley-button>
        <app-smiley-button feeling="good" [selectedFeeling]="selectedFeeling" (selected)="openFeedback($event)"></app-smiley-button>
        <app-smiley-button feeling="veryGood" [selectedFeeling]="selectedFeeling" (selected)="openFeedback($event)"></app-smiley-button>
        <app-smiley-button feeling="veryVeryGood" [selectedFeeling]="selectedFeeling" (selected)="openFeedback($event)"></app-smiley-button>
        <app-smiley-button feeling="love" [selectedFeeling]="selectedFeeling" (selected)="openFeedback($event)"></app-smiley-button>
    </div>
</section>

<section *ngIf="showFeedback" class="feedback-input">
    <h3 class="feedback-title">Geef je graag wat meer uitleg?</h3>
    <textarea 
        [(ngModel)]="feedbackText"
        placeholder=""
        [ngClass]="{'error-border': showError}"
    ></textarea>
    <div *ngIf="showError" class="error-message">Mag niet leeg zijn.</div>
    <div class="feedback-privacy">
        <p>Wij verwerken uw gegevens conform onze privacy policy</p>
        <button (click)="submitFeedback()">Verzenden</button>
    </div>
</section>

<div *ngIf="successMessage" class="successMessage">{{ successMessage }}</div>