.feedback-container {
    position: relative;
    text-align: center;
    margin: 3% 25%;
  }

.feedback {
    position: relative;
    display: inline-block;
    background-color: #54bcff;
    color: white;
    width: 100%;
    height: 110px;
    padding: 35px 0 0;
    border-radius: 100px;
}

.feedback-buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    left: 50%;
    top: 67%;
    gap: 20px;
}
  
.feedback-input {
    text-align: center;
    margin-top: 70px;
}
  
textarea {
    width: 50%;
    height: 80px;
    margin: 15px 0 0;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

textarea.error-border {
    border: 1px solid #f65455;
}

.error-message {
    color: #f65455;
    font-size: 14px;
    font-style: italic;
    display: flex;
    margin: 0 25%;
    font-weight: lighter;
}

.feedback-privacy {
    margin: 15px 25% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.3);
}

button {
    background-color: #f9af05;
    color: #fff;
    border: solid;
    border-color: #f9af05;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
}

.successMessage {
    margin: 70px 25% 0;
    background-color: #d5f5db;
    color: #70dd72;
    font-size: 14px;
    font-weight: lighter;
    padding: 15px 0 15px 15px;
  }