.feedback-container {
    position: relative;
    text-align: center;
    margin: 5% 20%;
  }

.feedback {
    position: relative;
    display: inline-block;
    background-color: #54bcff;
    color: white;
    padding: 40px 120px 55px 120px;
    border-radius: 100px;
}

.feedback-buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    left: 50%;
    top: 67%;
    gap: 20px;
}
  
.feedback-input {
    text-align: center;
    margin-top: 20px;
}
  
textarea {
    width: 50%;
    height: 80px;
    margin: 15px 0;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.feedback-privacy {
    margin: 0 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #f9af05;
    color: #fff;
    border: solid;
    border-color: #f9af05;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
}