.card-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 277px;
    text-align: left;
}

img {
    height: 133px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    margin-top: 30px;
}

h5, p {
    margin: 0 30px 15px;
}

p {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #54bcff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 30px 30px;
}