<section class="description-container">
    <h2 class="description-title">Wat te doen als je je huis zelf verkoopt of verhuurt?</h2>
    <p class="description-text">Twijfel je hoe het moet beginnen aan de verkoop van je woning? Geen nood. We begrijpen dat dit een spannende periode is en we willen je hier graag bij helpen.</p>
    <p class="description-text">Daarom gidsen we je door het process met een overzichtelijk stappenplan. Zo kan je zonder zorgen je woning te koop of te huur aanbieden. Het enige wat je nog moet doen, is beslissen of je wil verhuren of verkopen!</p>
    <button type="button">Verkoop</button>
    <button type="button">Verhuur</button>
</section>
