.description-container {
    text-align: center;
    margin: 8% 25% 5%;
}

h4, p {
    margin: 15px 0;
}

p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

button {
    margin: 15px;
    color: #fabe33;
    background-color: #fff;
    border: 2px solid #fabe33;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
}